<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>快递录入和查询系统</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
<div class="container">
    <h1>快递录入和查询系统</h1>
    <h2>寄方信息</h2>
    <div class="left-container">
        <div id="add-delivery-form" class="form">
            <div class="form-group">
                <label for="name" class="required">姓名:</label>
                <input type="text" id="name" class="input-field">
            </div>
            <div class="form-group">
                <label for="senderPhone" class="required">联系电话:</label>
                <input type="text" id="senderPhone" class="input-field">
            </div>
            <div class="form-group">
                <label for="senderProvince" class="required">省市区:</label>
                <input type="text" id="senderProvince" class="input-field">
            </div>
            <div class="form-group">
                <label for="senderCity" class="required">详细地址</label>
                <input type="text" id="senderCity" class="input-field">
            </div>
        </div>
    </div>

        <h2> 快递信息 </h2>
        <div class = "right-container">

            <div class="form-group">
                <label for="itemType">物品类型</label>
                <select id="itemType" class="input-field">
                    <option value="零食">零食</option>
                    <option value="运动器械">运动器械</option>
                    <option value="电子用品">电子用品</option>
                </select>
            </div>
            <div class="form-group">
                <label for="paymentMethod">付款方式</label>
                <select id="paymentMethod" class="input-field">
                    <option value="现金">现金</option>
                    <option value="支付宝或微信">支付宝或微信</option>
                    <option value="银行卡">银行卡</option>
                </select>
            </div>
            <div class="form-group">
                <label for="itemWeight" class="required">物品重量</label>
                <select id="itemWeight" class="input-field">
                    <option value="小于10kg">小于10kg</option>
                    <option value="10kg-30kg">10kg-30kg</option>
                    <option value="大于30kg">大于30kg</option>
                </select>
            </div>
            <div class="form-group">
                <label for="itemVolume">物品体积</label>
                <select id="itemVolume" class="input-field">
                    <option value="小">小</option>
                    <option value="中">中</option>
                    <option value="大">大</option>
                </select>
            </div>
            <div class="form-group">
                <label for="expressCompany">快递公司</label>
                <select id="expressCompany" class="input-field">
                    <option value="京东">京东</option>
                    <option value="美团">美团</option>
                    <option value="菜鸟">菜鸟</option>
                </select>
            </div>
            <div class="form-group">
                <label for="remark">备注</label>
                <input type="text" id="remark" class="input-field">
            </div>
        </div>
            <div>
                <button onclick="addDelivery()" class="button">提交</button>
            </div>

            <div id="search-delivery-form" class="form">
                <h2>查询快递信息</h2>
                <div class="form-group">
                    <label for="search-tracking-number">运单号:</label>
                    <input type="text" id="search-tracking-number" class="input-field">
                </div>

                <button onclick="searchDelivery()" class="button">查询</button>
            </div>

            <div id="delivery-info">
                <h2>快递信息</h2>
                <div id="delivery-result" class="delivery-table"></div>
            </div>
</div>




<script>
    function addDelivery() {
        var name = document.getElementById("name").value;
        var senderPhone = document.getElementById("senderPhone").value;
        var senderProvince = document.getElementById("senderProvince").value;
        var senderCity = document.getElementById("senderCity").value;
        var remark = document.getElementById("remark").value;

        if (
            name.trim() === " "||
            senderPhone.trim() === "" ||
            senderProvince.trim() === "" ||
            senderCity.trim() === ""
        ) {
            alert("请输入有效的快递信息");
            return;
        }

        var data = {
            "name": name,
            "senderPhone":senderPhone,
            "senderProvince ":senderProvince,
            "senderCity" : senderCity,
            "remark ":remark,
        };

        fetch("/api/deliveries", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify(data)
        })
            .then(response => response.json())
            .then(result => {
                console.log(result);
                alert("快递信息成功保存");
            })
            .catch(error => {
                console.error(error);
                alert("快递信息保存失败");
            });

    }






    function searchDelivery() {
        var trackingNumber = document.getElementById("search-tracking-number").value;

        if (trackingNumber.trim() === "") {
            alert("请输入有效的运单号");
            return;
        }

        fetch("/api/deliveries/" + trackingNumber)
            .then(response => response.json())
            .then(result => {
                console.log(result);
                var deliveryResult = document.getElementById("delivery-result");
                if (result.error) {
                    deliveryResult.innerText = result.error;
                } else if (result.length === 0) {
                    deliveryResult.innerText = "Delivery not found";
                } else {
                    var html = "<table>";
                    html += "<tr><th>运单号</th><th>状态</th><th>名称</th></tr>";
                    result.forEach(delivery => {
                        html += "<tr><td>" + delivery.TrackingNumber + "</td><td>" + delivery.Status + "</td><td>" + delivery.Name + "</td></tr>";
                    });

                    html += "</table>";
                    deliveryResult.innerHTML = html;
                }
            })
            .catch(error => {
                console.error(error);
                alert("快递信息查询失败: " );
            });
    }
</script>
</body>
</html>
